

#video1{
  display: none;
  position: absolute;
  top: 20850px;
  left: 150px;
}

#video2{
  display: none;
}

#video3{
  display: none;
  position: absolute;
  top: 4200px;
  left: 20px;
}

#video4{
  display: none;
  position: absolute;
  top: 400px;
  left: 100px;

}

#video5{
  display: none;
  position: absolute;
  left: 20px;
  top: 2300px;
   z-index: 50;
}

#video6{
  display: none;
  position: fixed;
  left: 670px;
  top: 420px;
 
}

#song7{
  display: none;
  position: absolute;
 top: 10000px;
    left: 900px;
}

#video8{
  display: none;
  position: absolute;
  left: 780px;
  top: 220px;
}

#video10{
  display: none;
  position: absolute;
  top: 15000px;
    left: 150px;

}

#video13{
  display: none;
  position: absolute;
  top: 19760px;
  left: 150px;

}

.dictionary{
  position: absolute;
  top:200px;
  line-height: 1.5;
  left:100px;
  right:600px;
}

.postit{
  position: fixed;
  right:100px;
  width: 200px;
  height:100px;
  background-color: rgb(151, 178, 146);
  border-style: solid;
  border-width: 1px;
  top:200px;
  padding: 10px;
  box-shadow: 5px 5px rgb(218, 109, 255), 10px 10px rgb(122, 103, 90), 15px 15px rgb(0, 255, 97);
}

.title{
  position: fixed;
    top: 0px;
    left: 16px;
    font-size: 100px;
    
}

a{
  text-decoration: none;
   font-family: 'arial';
    font-size: 55px;
    color:yellow;
    font-weight: normal;
     -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: black;

}
.alpha{
  position: fixed;
  top:120px;
   font-family: 'arial', sans-serif;
    left: 16px;
    font-size: 60px;
    color:black;
    margin:0px;
    z-index: 100;

}

a:hover{
  font-family: 'arial';
    color:rgb(0, 29, 255);
      -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: black;
  
}

img{
  width:300px;

}  

/*  this section is for images 
that appear when you hover over text */

.waterpic{
  display: none;
  position: fixed;
  left:200px;
  top:200px;
}

p.water:hover .waterpic{
    display: block;
}

.asterix{
  display: none;
  position: fixed;
  left:200px;
  top:200px;
}

p.abandon:hover .asterix{
    display: block;
}

.earthpic{
  display: none;
  position: fixed;
  left:200px;
  top:200px;
}

p.earth:hover .earthpic{
    display: block;
}


.fidopic{
  display: none;
  position: fixed;
  left:200px;
  top:200px;
}

p.fido:hover .fidopic{
    display: block;
}

.cathypic{
  display: none;
  position: fixed;
  left:100px;
  top:200px;
}

p.cathy:hover .cathypic{
    display: block;
}

.rollerpic{
  display: none;
  position: fixed;
  left:100px;
  top:200px;
}

p.roller:hover .rollerpic{
    display: block;
}

.rockpic{
  display: none;
  position: fixed;
  left:100px;
  top:200px;
}

p.rock:hover .rockpic{
    display: block;
}

.ufopic{
  display: none;
  position: fixed;
  left:100px;
  top:200px;
}

p.ufo:hover .ufopic{
    display: block;
}


.brickpic{
  display: none;
  position: fixed;
  left:100px;
  top:200px;
}

p.brick:hover .brickpic{
    display: block;
}


.hackpic{
  display: none;
  position: fixed;
  left:100px;
  top:200px;
}

p.hack:hover .hackpic{
    display: block;
}

.earringpic{
  display: none;
  position: fixed;
  left:100px;
  top:200px;
  z-index: 55;
}

p.earring:hover .earringpic{
    display: block;
}

.castlepic{
  display: none;
  position: fixed;
  left:100px;
  top:200px;
  z-index: 55;
}

p.castle:hover .castlepic{
    display: block;
}

.riverpic{
  display: none;
  position: fixed;
  left:100px;
  top:200px;
  z-index: 55;
}

p.river:hover .riverpic{
    display: block;
}
/*  this section is 
text stylings */

h1{
 font-family: 'arial';
    top: 0px;
    font-size: 70px;
    color:yellow;
    margin:0px;
    font-weight: normal;
      -webkit-text-stroke-width: 1.8px;
   -webkit-text-stroke-color: black;
}

h2{
 font-family: 'arial';
    top: 0px;
    left: 16px;
    font-size: 24px;
    color:rgb(151, 178, 146);
    margin:0px;
    font-weight: normal;
     -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: none;
}

p{
  font-family: 'arial';
  font-size: 14px;
  color:black;
}

.dictionary{
   font-family: 'arial';
  font-size: 14px;
  color:black;
}

.jumpy{
  position: fixed;
  top:400px;
  left:900px;
}

span{
margin-top: 20px;
}

body {
  /*background: linear-gradient(rgb(71, 107, 107), rgb(62, 66, 62));*/
  background:yellow;
  color: black;
  height: 20000px;
}


  .btn:hover {
     -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
  }


.pin1 {
    position: absolute;
    width: 30px;
    height: auto;
    top: 20700px;
    left: 930px;
  }

.pin2 {
    position: absolute;
    width: 30px;
    height: auto;
    top: 5400px;
    left: 780px;
  }

.pin2:hover .text {
  opacity: 1;
  font-style: 'arial';
}

 .pin12:hover .text{
   opacity: 1;
  font-style: 'arial';
 }

 .pin11:hover .text{
   opacity: 1;
  font-style: 'arial';
 }

 .pin9:hover .text{
   opacity: 1;
  font-style: 'arial';
 }

  .pin3 {
    position: absolute;
    width: 30px;
    height: auto;
    top: 4510px;
    left:1030px;
    z-index: 20;
  }

  .pin4 {
    position: absolute;
    width: 30px;
    height: auto;
    top: 800px;
    left: 800px;
  }

   .pin5 {
    position: absolute;
    width: 30px;
    height: auto;
    top: 2600px;
    left: 1100px;
  }

  .pin6 {
    height: 199px;
    position: fixed;
    height: auto;
    top: 150px;
    left: 850px;
    z-index: -5;
    box-shadow: 15px 15px 8px orange;
    border-style: solid;
    border-color: black;
    border-width: 1px;
  }

   .pin7 {
    position: absolute;
    width: 30px;
    height: auto;
    top: 10000px;
    left: 900px;
  }

  .pin8 {
    position: absolute;
    width: 30px;
    height: auto;
    top: 3000px;
    left:900px;
  }


  .pin9 {
     position: absolute;
    width: 30px;
    height: auto;
    top: 13000px;
    left: 900px;
  }
  

  .pin10 {
   position: absolute;
    width: 30px;
    height: auto;
    top: 15000px;
    left: 850px;
  }


  .pin11 {
    position: absolute;
    width: 30px;
    height: auto;
    top: 18000px;
    left: 950px;
  }

  .pin12 {
    position: absolute;
    width: 30px;
    height: auto;
    top: 20000px;
    left: 820px;
  }

 .pin13 {
    position: absolute;
    width: 30px;
    height: auto;
    top: 19600px;
    left: 900px;
  }

  .pin14 {
    position: absolute;
    width: 30px;
    height: auto;
    top: 21500px;
    left: 850px;
  }

  .text{
    opacity:0.01;
    width:300px;
  }

  .caption{
     font-family: 'arial';
    font-size: 40px;
    color:yellow;
    font-weight: normal;
     -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: black;
    text-align: center;
  }

.pin14:hover .text {
  opacity: 1;
  font-style: 'arial';
}


   .pin15 {
    position: absolute;
    width: 30px;
    height: auto;
    top: 22000px;
    left: 950px;
  }


   .pin16 {
    position: absolute;
    width: 30px;
    height: auto;
    top: 21000px;
    left: 870px;
  }